<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
</head>
<body>
	<h2>register</h2>
	<form action="/getdata">
		 
      <p>fname<input type="text" name="fname"></p>
      <p>lname<input type="text" name="lname"></p>
      <p>email<input type="email" name="email"></p>
      <p>mobile<input type="text" name="mobile"></p>
      <p>dob<input type="date" name="dob"></p>
      <p>course_name<input type="text" name="course_name"></p>
      <p>course_status<input type="text" name="course_status"></p>
      <p>ssc_percentage<input type="text" name="ssc_percentage"></p>
      
      <p>hsc_percentage<input type="text" name="hsc_percentage"></p>
      
      <p>graduate_percentage<input type="text" name="graduate_percentage"></p>
      
      <p>technical skill<input type="text" name="technical skill"></p>
      <p><input type="file" name="resume path">resume path</p>
      <p><input type="file" name="photo path">photo path</p>
      <p>created_at<input type="datetime-local" name="created_at"></p>
      <p>updated_at<input type="datetime-local" name="updated_at"></p>
      <p><input type="submit" name="Register"></p>
		<p><a href="view">view</a></p>
	</form>

</body>
</html>